html,
body {
    margin: 0;
    padding: 0;
    font-family: Overpass;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.nav-bar {
    width: 100%;
    background: #404040;
    box-shadow: 0 0 2px 1px rgb(150 150 150 / 0.3);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.logo {
    font-family: Overpass;
    font-size: 28px;
    color: white;
    padding: 10px 30px;
    width: fit-content;
    font-weight: 700;
    display: inline-block;
}

.nav-menu {
    display: inline-block;
    width: 79%;
    margin-left: 5%;
}

.nav-bar .nav-menu ul li {
    display: inline-block;
    width: 15%;
    color: white;
    font-size: 18px;
    font-weight: 100;
    padding: 0 15px;
}

.nav-bar .nav-menu ul li a:hover {
    color: #f9fd77;
}

.nav-bar .nav-menu ul li a {
    text-decoration: none;
    color: white;
}

.main-container {
    width: 100%;
    height: 100%;
    background: gainsboro;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.movie-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-end;
    padding: 20px 30px;
    margin: 20px 70px;
    background: #a2a2a2;
    border-radius: 10px;
    box-shadow: 0 0 6px rgb(0 0 0 / 0.16), 0 6px 12px rgb(0 0 0 / 0.32);
}



.formular {
    width: 38em;
    height: 38em;
    margin: 0.5em auto;
  /*  background-image:url('Yellow.jpg'); */
    background-color: white;
    opacity: 1;
    border: 0.3em solid black;
    border-radius: 2em;
    text-align: center;
  }
  
  .formular h2, .formular p {
    margin: 0;
  }
  
  /* Header and footer */
  
  .formular header, .formular footer {
    height: 1em;
    padding: 2em;
  }
  
  header h1
 {
    font-family: Overpass;
    font-size: 28px;
    color: Black;
    padding: 10px;
    width: fit-content;
    font-weight: 700;
    display: inline-block;
}
  
  
  h2 {
    font-size: 4em;
    line-height: 1.2;
    text-align: center;
    padding: 0.5em;
  }
  
  .formular footer p {
    font-size: 1em;
    line-height: 2;
  }
  
  .formular footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .formular footer>div {
    display: flex;
    flex-direction: column;
    height: 8em;
  }
  .formular footer>div>p {
    align-self: center;
  }
  
  
  
  
  .formular article p {
    padding: 5em;
    color: rgba(255,255,255,0.8);
    align-content: center;
  }
  
  input[type=text] {
      width: 50%;
      font-weight: bold;
      padding: 4px 4px;
      margin: 8px 0;
      box-sizing: border-box;
      background-color: black;
  
    color: yellow;
    }
  
    #Username
    {
      font-size: 150%
    }
  
    #Password
    {
     font-size: 150%
    }
  
    
  
  
    input[type=password] {
       
      width: 50%;
      padding: 4px 4px;
      font-weight: bold;
      margin: 8px 0;
      box-sizing: border-box;
      background-color: black;
      color: yellow;
    }


    input[type=email] {
       
      width: 50%;
      padding: 4px 4px;
      font-weight: bold;
      margin: 8px 0;
      box-sizing: border-box;
      background-color: black;
      color: yellow;
    }
  
   
    .btn , .btnRegister, .btnForgot{
        
      background-color: black; /* Green */
      border: none;
      color: yellow;
      padding: 13px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  
    .btn:hover, .btnRegister:hover, .btnForgot:hover
    {
      background-color: yellow; /* Green */
      color: black;
      font-weight: bold;
      
    }

    .btn:active, .btnRegister:active, .btnForgot:active
    {
            background-color: black;
            transform: translateY(4px);
            color: green;
            font-weight: bold;
          
    }
  
    .btnRegister
    {
        float: left;
    }
  
    .btnForgot
    {
        float: right
    }
  
    .Register
    {
      text-align: left;
    }
  
    .Forgot
    {
        text-align: right;
    
    }
    