body
{
  background: black;
  margin: 0;
}

.socialmedia
{
  margin-right: 2px;
  width: 20px;
  height: 20px;
  float: right;
}

header button
{
  float: right;
  margin-right: 2px;
}

header img
{
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

header ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

 header ul li
{
  float: left;
  width: 160px;
  height: 40px;
  background-color: grey;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

header  ul li a
{
  text-decoration: none;
  color: white;
  display: block;
}

header  ul li a:hover
{
  background-color: green;
}

header  ul li ul li
{
  display: none;
}

header  ul li:hover ul li
{
  display: block;
}

header ul li ul
{
  display: flex;
  flex-direction: column;
}


.upload h2
{
  color: yellow;
  text-align: center;

}


.movie 
{

  /* text-align: center; */
  width: 600px;

  display: flex;
  flex-direction: row;
  color: #FFFF00;
  justify-content: space-around;
  overflow: auto;
  border: 2px solid yellow;
  border-radius: 8px;
  border-spacing: 50px;
  padding: 20px;
  margin-left: 300px;
  margin-bottom: 20px;

}

.upload_info
{
  display: flex;
  flex-direction: column;
}

.question_info
{
  display: flex;
  flex-direction: column;
}

.question_info select
{
  width: 60px;
  height: 22.5px;
}
/* 
.response 
{
  display: flex;
  flex-direction: row;  
}
 */

  .btnAdd , .btnAddScen, .btnAddParts, .btnAddSource{
      
    background-color: grey; /* Green */
    border: 2px solid yellow;
    color: yellow;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
/*     box-shadow: 0 9px #999;
 */  }

  .btnAdd:hover, .btnAddScen:hover, .btnAddParts:hover, .btnAddSource:hover
  {
    background-color: black; /* Green */
    color: yellow;
  }

  footer div 
  {
    text-align: center;
  }

  .Load 
  {
    text-align: center;
  }
  /*.btnAdd/
  {
    float: center;
  } */

 /*  .btnAdd:active , .btnAddScen:active, .btnAddParts:active, .btnAddSource:active {
  background-color: grey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */



