html
{
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
  background-image: url('movies.jpg');
}


.card
{
  width: 50em;
  height: 50em;
  margin: 5em auto;
  background-color: white;
  border: 0.2em solid black;
  border-radius: 1.5em;
  background-image: url('yellow.jpg');
}

.card header h2
{
  text-align: center;
  padding: 2em;
}

.card article
{
  text-align: center;
  padding: 1em;
}
